In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
def getLineEq(points):
    y1 = points[0][1]
    y2 = points[1][1]
    x1 = points[0][0]
    x2 = points[1][0]
    slope = (y2-y1)/(x2-x1)
    intercept = y1-slope*x1 
    return (slope, intercept)

In [3]:
def removeChar(s):
    s = str(s)
    return float(re.sub('\D', '',s))/10

In [4]:
df = pd.read_csv(r"C:\Users\Victor\iCloudDrive\San Francisco State University\googleHacks\Full Dataset - Final.csv")

In [5]:
df

,Year,Period,Week,Overall Number of Homeless,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate,Poverty Rate (CA),Poverty Threshold (single),Poverty Threshold (2 People),SNAP Beneficiaries,House Affordability Index (HAI),California Median Weekly Wages,Median House Prices
0,2011,Jan,1,NaN,63.8(R),55.9(R),18363805(R),16113386(R),2250419(R),12.3(R),NaN,NaN,NaN,3602170.0,0.53,1066.0,279220.0
1,2011,Feb,2,NaN,63.7(R),55.9(R),18359121(R),16127796(R),2231325(R),12.2(R),NaN,NaN,NaN,3619055.0,NaN,NaN,271370.0
2,2011,Mar,3,NaN,63.6(R),55.9(R),18354669(R),16139805(R),2214864(R),12.1(R),NaN,NaN,NaN,3669962.0,NaN,NaN,286550.0
3,2011,Apr,4,NaN,63.6(R),55.9(R),18352428(R),16147585(R),2204843(R),12.0(R),NaN,NaN,NaN,3679671.0,0.51,1016.0,294140.0
4,2011,May,5,NaN,63.5(R),55.9(R),18358639(R),16155067(R),2203572(R),12.0(R),NaN,NaN,NaN,3727005.0,NaN,NaN,292850.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,2020,Oct,118,NaN,60.8(R),54.8(R),18904638(R),17050260(R),1854378(R),9.8(R),NaN,NaN,NaN,NaN,0.27,NaN,711300.0
118,2020,Nov,119,NaN,59.8(R),54.6(R),18604626(R),16983903(R),1620723(R),8.7(R),NaN,NaN,NaN,4893360.0,NaN,NaN,698980.0
119,2020,Dec,120,161548.0,60.2(R),54.5(R),18705475(R),16957019(R),1748456(R),9.3(R),NaN,12939.0,16487.5,NaN,NaN,NaN,717930.0
120,2021,Jan,121,NaN,60,54.6,18668523,16988683,1679840,9.0(P),NaN,NaN,NaN,NaN,NaN,NaN,699920.0
121,2021,Feb,122,NaN,60.9(P),55.8(P),18944536(P),17334333(P),1610203(P),8.5(P),NaN,12880.0,17420.0,NaN,0.31,NaN,699000.0

In [6]:
char_col = ['labor force participation rate', 'employment-population ratio', 'labor force', 'employment', 
            'unemployment','unemployment rate']

In [7]:
for c in char_col:
    df[c] = df[c].transform(removeChar)

In [8]:
for col in df.columns[df.isna().any()]:
    df[col].interpolate(method='linear', inplace=True)

In [9]:
for col in df.columns[df.isna().any()]:

    coordinates = []
    for x,y in enumerate(df[col]):
        if not np.isnan(y):
            coordinates.append((x+1,y))
        if len(coordinates)==2:
            break
    coordinates
    f = getLineEq(coordinates)
    for x,item in enumerate(df[col].isnull()):
        if item:
            y = f[0]*(x+1)+f[1]
            df.loc[x, col] = y
df

,Year,Period,Week,Overall Number of Homeless,labor force participation rate,employment-population ratio,labor force,employment,unemployment,unemployment rate,Poverty Rate (CA),Poverty Threshold (single),Poverty Threshold (2 People),SNAP Beneficiaries,House Affordability Index (HAI),California Median Weekly Wages,Median House Prices
0,2011,Jan,1,129738.833333,63.8,55.9,1836380.5,1611338.6,225041.9,12.3,0.162333,11267.666667,14400.333333,3602170.0,0.530000,1066.000000,279220.0
1,2011,Feb,2,129319.666667,63.7,55.9,1835912.1,1612779.6,223132.5,12.2,0.162667,11287.333333,14423.666667,3619055.0,0.523333,1049.333333,271370.0
2,2011,Mar,3,128900.500000,63.6,55.9,1835466.9,1613980.5,221486.4,12.1,0.163000,11307.000000,14447.000000,3669962.0,0.516667,1032.666667,286550.0
3,2011,Apr,4,128481.333333,63.6,55.9,1835242.8,1614758.5,220484.3,12.0,0.163333,11326.666667,14470.333333,3679671.0,0.510000,1016.000000,294140.0
4,2011,May,5,128062.166667,63.5,55.9,1835863.9,1615506.7,220357.2,12.0,0.163667,11346.333333,14493.666667,3727005.0,0.513333,1027.000000,292850.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,2020,Oct,118,159836.333333,60.8,54.8,1890463.8,1705026.0,185437.8,9.8,0.118000,12951.000000,16493.083333,4874688.0,0.270000,1466.000000,711300.0
118,2020,Nov,119,160692.166667,59.8,54.6,1860462.6,1698390.3,162072.3,8.7,0.118000,12945.000000,16490.291667,4893360.0,0.280000,1466.000000,698980.0
119,2020,Dec,120,161548.000000,60.2,54.5,1870547.5,1695701.9,174845.6,9.3,0.118000,12939.000000,16487.500000,4893360.0,0.290000,1466.000000,717930.0
120,2021,Jan,121,161548.000000,6.0,54.6,1866852.3,1698868.3,167984.0,9.0,0.118000,12909.500000,16953.750000,4893360.0,0.300000,1466.000000,699920.0
121,2021,Feb,122,161548.000000,60.9,55.8,1894453.6,1733433.3,161020.3,8.5,0.118000,12880.000000,17420.000000,4893360.0,0.310000,1466.000000,699000.0

In [10]:
df.isnull().sum()

Year                               0
Period                             0
Week                               0
Overall Number of Homeless         0
labor force participation rate     0
employment-population ratio        0
labor force                        0
employment                         0
unemployment                       0
unemployment rate                  0
Poverty Rate (CA)                  0
Poverty Threshold (single)         0
Poverty Threshold (2 People)       0
SNAP Beneficiaries                 0
House Affordability Index (HAI)    0
California Median Weekly Wages     0
Median House Prices                0
dtype: int64

In [11]:
df.to_csv('dataset_interpolate.csv')